<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * { margin: 0; padding: 0; } h1, h2 { color: #333131; font-size: 20px;
      padding: 6px 0px; } p { color: #494747; font-size: 16px; }
      .container,.content { display: grid; grid-template-columns: 1fr; padding:
      10px 20px; } .header { display: grid; grid-template-rows: 1fr; padding:
      10px 20px; margin: 5px 0px; background-color: #66f5f5; border-radius: 5px;
      } .header h2 { color: #140b64; }
    </style>
  </head>

  <body>
    <div class="container">
      <!-- header -->
      <div class="header">
        <h2>Virtual Campus Recruitment</h2>
      </div>
      <div class="content">
        <h2>Greetings User</h2>
        <p>Your account was recently removed from our system by the admin due to some reasons.It was removed on {{time}}.</p>
        <p>To know more reply to this email.</p>
        <br />
        <p>Visit our website anytime, anywhere at
          <a
            style="color: #223891;"
            href="https://campus-recruitment-system-rust.vercel.app"
          >Virtual Campus Recruitment</a>
        </p>
      </div>
    </div>
  </body>

</html>